@import 'setup';
@import 'modular-scale';
@import 'colors';

$ms-base: .6em;
$ms-ratio: $golden;

body {
	background: $black;
	font-size: 62.5%;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

section.input{
	.flex:first-child{
		margin-top: ms(5);
	}
	#one{
		width: 80%;
		padding: 1rem;
		font-size: ms(2.6);
		padding: 0;
		border: none;
		background-color: invert($black);
	}
	button{
		width: 20%;
		font-size: ms(2);
		height: ms(3);
		margin: 0;
		padding: 0;
		color: invert($black);
		background-color: darken($red, 25%);
		border: none;
	}
	h1{
		font-size: ms(6);
	}
	h2{
		font-size: ms(5);
	}
	h3{
		color: azure;
		font-size: ms(4);
	}
	h4{
		font-size: ms(3);
	}
	h5{
		font-size: ms(2);
	}
	h6{
		color: azure;
		font-size: ms(1);
	}
}