@import 'setup';
@import 'modular-scale';
@import 'colors';


$roboto: 'Roboto', sans-serif;
$ms-base: .7em;
$ms-ratio: $golden;

body {
	background: $grey;
	font-size: 62.5%;
	font-family: $roboto;
}


.flex{
	display: flex;
	flex-wrap: wrap;
}

section.input{
	padding: 0 ms(3);
	.flex:first-child{
		margin-top: ms(5);
	}
	.headings{
		align-items: center;
		justify-content: space-between;
	}
	#one{
		width: 80%;
		padding: 1rem;
		font-size: ms(3);
		padding: 0 ms(1);
		border: none;
		background-color: invert($grey);
		color: $grey;
	}
	button{
		width: 20%;
		font-size: ms(2);
		height: ms(3);
		margin: 0;
		padding: 0;
		color: invert($grey);
		background-color: darken($red, 15%);
		border: none;
	}

	h1{
		font-weight: 100;
		font-size: ms(7);
		color: $white;
	}
	h2{
		font-weight: 300;
		font-size: ms(6);
	}
	h3{
		font-weight: 400;
		font-size: ms(5);
	}
	h4{
		font-weight: 500;
		font-size: ms(4);
	}
	h5{
		font-weight: 700;
		font-size: ms(3);
	}
	h6{
		font-weight: 900;
		font-size: ms(2);
	}
}